*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #89ABE3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}
.search{
    position: relative;
    height: 50px;
}
.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease;
}
.btn:focus, .input:focus{
    outline: none;
}
.search.active .input{
    width: 300px;
}
.search.active .btn{
    transform: translateX(298px);
}